h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
}

form{
    justify-content: flex-end;
}

.name{
    border-radius: 5px;
}
